.wrapper{
    background-image: url(../public/img/Group\ 2.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 128px 0 135px 0;
}

.title{
    text-transform: uppercase;
    text-align: center;
}
.subtitle{
    text-align: center;
}
.blockText{
    margin-top: 43px;
    height:500px;
}
.white{
    color: #fff;
}
.card {
    width: '18rem';
    margin-top: 13px;
}

.link{
    color: #fff;
}
.btn{
    margin-top: 13px;
    border-radius: 35px;
    width: 200px;
}